body {
    background-color: coral;
    font-family: 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 10px;
}

#main {
    background-color: rgb(240, 230, 230);
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    justify-content: center;
}


#about,
#downloads,
#stats {
    width: 300px;
    padding: 30px;
    justify-self: stretch;
}

a {
    text-decoration: none;
    color: rgb(243, 235, 235);
}

#footer {
    clear: both;
    text-align: center;
    padding: 7px;
    background-color: #999999;
    text-align: center;
}